<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
     <!--NAVBAR-->
     <nav class=" navbar">
        <a href="/tarea1/index.html">INICIO</a>
        <a href="public/views/dias.html">DIAS y HORARIOS</a>
        <a href="../views/nosotros.html">SOBRE NOSOTROS</a>
        <a href="../views/novedades.html">NOVEDADES</a>
    </nav>
    <!--HEADER-->
    <header>
        <div>  
        <h1>VLOG DEL DOJO YUSHIN </h1>
        </header> 
             </div>
     <!--PRINCIPAL-->
    <aside><h1>
        DIA DE CLASES
     </h1>
    <p>
        MARTES JUEVES y SABADOS
    </p>
    <h2>
        HORARIOS
    </h2>
    <p>
        18:30hs a 19:30hs
        11hs a 12:30hs
    </p> 
    <h3>
        ¿DONDE SE DICTAN LAS CLASES?
    </h3>
    <p>
        GIMNASIO MUNICIPAL ``17 DE OCTUBRE´´ 
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1 ,-50..200" />
        <a href="https://www.google.com/maps/dir//gimnasio+17+de+octubre+rio+gallegos/@-51.6412055,-69.2242675,14z/data=!4m8!4m7!1m0!1m5!1m1!1s0xbdb6fbdea1c2c39d:0x9432fc97400a15f2!2m2!1d-69.219917!2d-51.6433602?entry=ttu">UBICACION</a>
    </p>
       <img src="../imag/horario.jpg" alt=""></aside>
    <!-- FOOTER --> 
    <footer> 
            <p> &radic; Ojeda Rebull Lusmila - lusmila123@icloud.com - Potrero Digital 2.023
            <a href="ttps://www.facebook.com/profile.php?id=100083853675438">FACEBOOK</a>
            </p>
    </footer>
</body>
</html>