<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RECETA</title>
</head>
<body>
    <h1>ÑOQUIS DE CALABAZA</h1>
    <h2>Para 2 Personas</h2>
    <h6>Ñoquis para la cena, forma rapida, sana e innovadora</h6>
    <p><b>INGREDIENTES</b></p>
    <ul><li> 500 gramos de calabaza</li>
        <li>150 gramos de harina</li>
       <li>1 huevo</li>
        <li>Sal</li>
        <li>Nuez moscada Queso rallado de tu preferencia</li></ul>
<h2>PREPARACION</h2>
    <ol type="I">
    <li>En primer lugar, tenemos que pelar y trocear la calabaza. Lo mejor es cortarla en unos trozos no demasiado pequeños. La colocamos en un recipiente apto para el horno y la vamos a hornear a 200º, hasta que la veamos tierna.</li>
    <li> En ese momento, apagamos el horno y la dejamos reposar en él unos 5 minutos más. Retiramos y tenemos que hacer un puré con la calabaza. Se trata de triturar los trozos de la misma, que ya estarán muy blandos.</li>
    <li>Cuando veas que está totalmente hecha puré, le añadimos el huevo batido y también la harina. Ahora tenemos que mezclar y amasar, por lo que necesitamos un poco más de harina que echaremos sobre la superficie donde vamos a trabajar.</li>
    <li>Aunque la masa que resulta, quedará un poco blanda, no añadas más harina. Con esta masa, haremos unos cilindros que iremos cortando en trozos. Ellos serán nuestros ñoquis de calabaza.</li>
    <li>Finalmente, cuando tengamos todos los trozos preparados, los tendremos que cocer en una olla con abundante agua.</li>
    <li>Cuando los veamos flotar, significa que ya estarán listos. Así que, apagamos el fuego y los escurrimos. ¡Ya tendremos nuestro plato de ñoquis!</li></ol>
    <iframe width="853" height="480" src="https://www.youtube.com/embed/nqFnnCuBv4g" title="ÑOQUIS de CALABAZA | Ñoquis de Zapallo - CUKit!" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</body>
</html>