<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RECETA</title>
</head>
<body>
    <h2>Tarta de Ricota</h2>
    <a href="../../index.html">Volver al inicio</a>
    <h1>Receta de TARTA DE RICOTA</h1>
    <h2>¿Como hacer una TARTA DE RICOTA?</h2>
    <h6><b>Receta de la tarta mas rica para la merienda</i></h6>
    <h6><i>Necesitaremos los siguientes ingredientes</i></p>
    <ul>
        <li>1 Kilo de HARINA 0000</li>
        <li>500GR de RICOTA</li>
        <li>1 Kilo de Azucar</li>
        <li>500GR de MANTECA</li>
        <li>8 HUEVOS</li>
        <li>LIMON, se usara la cascara</li>
        <li>AZUCAR GLASS 100GR</li>
        <li>200GR de ALMIDON DE MAIZ</li>
        <li>ESENCIA DE VAINILLA</li>
  <h2>PREPARACION</h2>  
  <ol type="1">
    <li> Manteca a temperatura ambiente, mezclarla junto al azucar</li>
    <li>Ir agregando seis huevos, por unidad junto a la escencia de vainilla</li>
    <li> Agregar la harina, tamizandola. Formar una masa suave, sin amasar, con una espatula. Una vez integrada envolverlaen film y dejar reposar la masa minimo 2 horas o dejarla hasta el otro dia para una mejor consistencia</li>
    <li>Preparacion del relleno</li>
    <li>Integramos la RICOTA, AZUCAR, YEMAS, MANTECA DERRETIDA, RALLADURA DE LIMON y ESENCIA DE VAINILLA</li>
    <li>Batir hasta formar una crema</li>
    <li>Pre-calentaar el horno a 180º</li>
    <li>Pasado el tiempo, retirar la masa de la heladera, y dividirla en dos partes. BASE DE LA TARTA y TAPA DE LA TARTA.</li>
    <li>Colocar la mezcla sobre la base, estirar la otra parte de la masa, para la tapa de la misma, colocar sobre la mezcla, unirla bien y pincharla para que realice el efecto de chimenea</li>
    <li>Cocinar en el horno, durante unos 45 minutos.</li>
    <li>Dejar enfriar la tarta unos minutos, luego de que se haya enfriado, desmoldar, dejando la base de la tarta como superficie de la misma.</li>
    <li>Espolvorear con azucar glass y a DISFRUTAR!!</li>
    <iframe width="853" height="480" src="https://www.youtube.com/embed/6l5AumLqXjg" title="¡TARTA DE RICOTA CASERA!" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</body>
</html>